.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.login-link {
    text-decoration: none;
    color: var(--cor-texto);
}

.login-link:hover {
    text-decoration: underline;
}

.login-icon {
    background-image: url(../../assets/login-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
    height: 35px;
    width: 35px;
}
